*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
a,a:hover,a:active,a:visited{
    color: #e4cd7f !important;
    background-color: transparent !important;
    outline: none;
    text-decoration: none;
    transition: all .2s ease-in-out;
    -wekit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}
a:focus{
    color: #23527c;
    text-decoration: underline;
}
body{
    font: 16px 'Bitter', Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: #1a1a1a;
    color: #dbdbdb;
    border: 0;
}
.wrapper{
    background-image: url(Images/Background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	overflow-x: hidden !important;
}

/*  ************************* header ****************************** */

header{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    background: #0e0f10;
    width: 100%;
    margin: 10px 50px;
    box-shadow: 0 1px #424242;
    moz-box-shadow: 0 1px #424242;
    -webkit-box-shadow: 0 1px #424242;
    z-index: 100;
}
.contact{}
.logo{}
.social{}

.topHeader{}
.mainHeader{}
